# Environment example

PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB_NAME=test

REDIS_PORT=6379

MINIO_PORT=9000

# used for dev mode only
MINIO_BROWSER_REDIRECT_URL=https://ostrom.cloud/minio/
