# Environment example

PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB_NAME=test
JWT_SECRET=super_secret_a_changer_en_prod
REDIS_PASSWORD=testtest
REDIS_PORT=6379

MINIO_PORT=9000

# used for dev mode only
MINIO_BROWSER_REDIRECT_URL=https://ostrom.cloud/minio/

# backup setup
# must be an absolute host path for the volume mount
BACKUP_DIR=${HOME}/backups/ostrom

DOMAIN_NAME=ostrom.cloud
