/* Breadcrumb */
.breadcrumb {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 5% 16px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    margin-bottom: 15px;
}

.item {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  color: var(--brand-primary);
  padding: 2px 4px;
  border-radius: 4px;
}

.btn:hover {
  background-color: var(--color-hover-brand-subtle);
}

.active {
  cursor: default;
  font-weight: 600;
  color: var(--brand-dark);
}

.btn.active:hover {
  background: none;
}

.separator { color: var(--color-text-secondary); }