{
    admin 0.0.0.0:2019

    servers {
        metrics
    }

	local_certs
}


localhost:443 {

	tls internal

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "geolocation=(), microphone=(), camera=()"

        Strict-Transport-Security "max-age=31536000; includeSubDomains"

        Content-Security-Policy "
            default-src 'self';
            script-src 'self';
            style-src 'self' 'unsafe-inline';
            img-src 'self' data: blob:;
            connect-src 'self';
            frame-ancestors 'none';
        "
    }

	@grafana path /grafana /grafana/*
	handle @grafana {
        header X-Frame-Options "SAMEORIGIN"
		reverse_proxy grafana:3000
	}

    @storage_root path /storage /storage/
    handle @storage_root {
        respond "Not found" 404
    }

    @storage_forbidden {
        path /storage /storage/*
        not method GET PUT HEAD OPTIONS
    }
    handle @storage_forbidden {
        respond 405
    }

    @storage path /storage /storage/*
    handle @storage {
        uri strip_prefix /storage

        header Access-Control-Allow-Origin "{http.request.header.Origin}"
        header Vary "Origin"
        header Access-Control-Allow-Methods "GET, PUT, HEAD, OPTIONS"
        header Access-Control-Allow-Headers "Content-Type, Authorization, x-amz-date, x-amz-content-sha256, x-amz-security-token, x-amz-*"
        header Access-Control-Expose-Headers "ETag"
        header Access-Control-Max-Age "3600"

        @preflight method OPTIONS
        handle @preflight {
            respond 204
        }

        reverse_proxy minio:9000
    }

    handle {
        root * /usr/share/caddy
        try_files {path} {path}/ /index.html
        file_server
    }

        # --- API Backend (Fiber) ---
	@api path /api/*
	handle @api {
		reverse_proxy auth:3000
	}
}
